<div *ngIf="(_archive | async) as archive" style="text-align: center;">
    <div class="item" *ngFor="let item of archive">
        <h2>{{item.fullName}}</h2>
        <p class="mt-0 mb-3 description">{{item.description}}</p>
        <p class="mt-0 mb-3 date">{{item.date}}</p>
        <div class="mb-3" *ngFor="let image of item.images">
            <img src={{image.link}} [alt]="image.name" style="width: 50%;" />
            <br />
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
<div *ngIf="(_archive | async) === undefined">
  <p>PAS DE RESULTATS</p>
</div>
