<div *ngIf="(_archive | async) as archive">
  <p-carousel [value]="archive" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
      <ng-template let-item pTemplate="item">
          <div class="item">
              <div class="item-content">
                  <h3 class="mb-1 name">{{item.fullName}}</h3>
                  <div class="mb-3">
                      <img src={{item.images[0].link}} [alt]="item.images[0].name" class="item-image" />
                  </div>
                  <div>
                      <p class="mt-0 mb-3 description">{{item.description}}</p>
                      <p class="mt-0 mb-3 date">{{item.date}}</p>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div>
<div *ngIf="(_archive | async) === undefined">
  <p>PAS DE RESULTATS</p>
</div>
